.login_bg{ background-color:#0683b1; width:100%; height:100%; overflow:hidden}
.login_center{width:556px; margin:0 auto; margin-top:120px;}
.login_center_logo{width:556px; height:85px; background:url(../images/login_03.png) no-repeat;}
.login_center_top{width:556px; height:7px; background:url(../images/login_07.png) no-repeat}
.login_center_center{width:556px; height:320px; overflow:hidden; background-color:#FFF}
.login_center_bottom{width:556px; height:5px; background:url(../images/login_16.png) no-repeat}

.login_input1{ margin:50px 0 0 50px;}
.login_input2{ margin:30px 0 0 50px;}
.login_btn{ margin:30px 0 0 50px;}
.inputs1{width:400px; height:32px; border:1px solid #CCC; background:url(../images/login_11.png) no-repeat 10px; background-color:#f4f8f9; padding:9px 0 9px 50px;  font-size:16px;}
.inputs2{width:400px; height:32px; border:1px solid #CCC; background:url(../images/login_14.png) no-repeat 10px; background-color:#f4f8f9; padding:9px 0 9px 50px;font-size:16px;}
.btns{width:162px; height:45px; background:url(../images/dl.png) center; border:0}